html{
    font-family: 'Roboto', sans-serif;
}
.down{
    margin-top:300px;
}
.navbar-fixed{
    height: 64px;
    z-index: 999;
}

nav{
    background: #fff;
    height: 64px;
}

.brand-logo div img{
    height: 60px;
    width: 170px;
}

.nav-mobile li a i{
    font-size: 25px;
}

.carousel-slider{
    min-height: 615px;
}
.blue div{
    height: 635px;
}

.soc{
    padding-top: 15px;
}


/* css chat */
.chat-box{
    position: fixed;
    right: 10px;
    z-index: 900;
    margin-bottom: 0px;
    font-size: 80%;
}
.chats{
    overflow-y: scroll;
    min-height:80px;
}

.type-chat{
    
}

#name_chat{
    padding-left: 5px;
}
#chat_output{
    padding: 10px;
    height: 200px;
}

#chat_input{
    padding: 0px;
}

#input_chat{
    padding: 0px;
    margin-bottom: 2px;
}
#chat_span{
    display: inline-block;
    width: 100%;
}
#button_send{
    margin-right: 2px;
    margin-bottom: 5px;
}


/* css bar socials*/
.bar-m{
    margin:0;
}
.bar{
    height:64px;
}
.bar-m .col{
    padding:0;
}
.twitter{
    background:#55acee;
    float:left;
    
}
.facebook{
    background:#3b5998;
        float:left;

}
.google{
    background:#d34836;
        float:left;

}

 /* label focus color */
  .down .input-field input[type=email]:focus + label {
     color: #fff;
}
/* label underline focus color */
  .down .input-field input[type=email]:focus {
     border-bottom: 1px solid #2196F3;
     box-shadow: 0 1px 0 0 #2196F3;
   }
   
.bar-lateral{
    height:620px;
}

#quien{
    text-align: center;
}
#contacto{
    text-align: center;
}
#soporte{
    text-align: center;
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

#ingresar{
    margin-top: 15px;
}

.info_quienes{
    width: 50%;
    margin-left: 25%;
    text-align: justify;
}
#open_chat{
    position: fixed;
    right: 15px;
    top: 10px;
    z-index: 999;
}

.chat-box{
    display: none;
}

.show_hide {
    display: block;
}

#contacto > *{
    margin-top: 50px;
}